mat-card{
	height: inherit;
	min-width: 15.5rem;
	width: 19.5rem;
	padding: 0;

	mat-card-content,
	mat-radio-group,
	mat-form-field{
		margin: 1rem 0;
	}

	form{
		padding: 16px;

		mat-radio-button {
			margin: 0.5rem 0;
		}
		
		mat-form-field {
			width: 100%;
		}
	}
}

@media (max-width: 600px) {
	mat-card{
		width: 15.5rem;
		min-width: 15.5rem;
	}
}



