mat-sidenav-container {
	// height: 100%; // original
	height: 100vh;
	width: 100vw;
	background-image: url('./../assets/img/trianglify.png');
	background-position: center;
	background-size: cover;
}

mat-sidenav.sidenav {
	width: 15rem;
	@media (min-width: 600px) {
		// box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
		background: transparent;
		border: 0 none !important;
		box-shadow: none !important;
	}
}