<div fxLayoutAlign="center">
	<mat-card fxLayout="column" fxFlex="100" fxFlex.sm="65" fxFlex.gt-sm="65">
		<form
			autocomplete="off"
			novalidate
			[formGroup]="form"
			(submit)="save()">

			<mat-card-title translate> auth.reset.title</mat-card-title>

			<mat-card-content>
		
				<mat-form-field>
					<input matInput
						autofocus
						name="email"
						formControlName="email"
						[placeholder]="'forms.input.email' | translate" />
					<mat-error>
						{{ "forms.validation.email" | translate }}
					</mat-error>
				</mat-form-field>

			</mat-card-content>

			<mat-card-actions align="end">
				<button mat-raised-button
					type="submit"
					color="primary"
					[disabled]="!form.valid && (form.dirty || form.untouched)">
					{{ "auth.reset.button" | translate }}
			</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>